<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>T-S-T Store</title>
	<link rel="stylesheet" href="/css/welcomepage.css">
	<link rel="stylesheet" href="/css/products.css">
  <link rel="stylesheet" href="/css/cart.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body background="images/bkg/red2.jpg" style="margin-left: 60px; margin-right: 60px; margin-top: 30px;">


<% include ./navbar.ejs %>

<div class="item">
  <h2 style="border: 2px solid #FFF056; padding:20px; margin-right: 100px;">My Account : </h2>
  <br>
  <p>ID : <%= user.id%> </p>
  <p>Wallet : <%= user.wallet%> Rs. </p>
  <p>Items Bought : <%= user.itemsbought%> </p>
  <p>Email : <%= user.email%> </p>
  <p>Phone : <%= user.phone%> </p>
  <p>B-Day : <%= user.bday%> </p>
	<form action='/addwallet' method="post">
		<input type="number" name="money" placeholder="Amt to add">
		<input type="submit">
	</form>
</div>

<% include ./footer.ejs %>
<script src="/js/js.js"></script>
</body>
</html>
